<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common_js(scripts)">
        <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/vendors/jquery-validation/dist/jquery.validate.min.js}"></script>
        <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/extends/js/my.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>

        <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
        <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
        <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

        <script th:inline="javascript" th:src="@{/extends/js/message.js}"></script>
        <script th:src="@{/extends/layer/layer.js}"></script>

        <!--/* Per-page placeholder for additional js */-->
        <th:block th:replace="${scripts}" />
    </div>
</html>