# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
target/generated-sources/
/.idea/
target/classes/META-INF/
target/classes/application.properties
target/classes/com/
target/classes/docs/
target/classes/static/assets/
target/classes/static/extends/
target/classes/static/favicon.ico
target/classes/static/images/admin.jpg
target/classes/static/images/avatar/
target/classes/static/images/logo.png
target/classes/static/images/logo2.png
target/classes/static/images/placeholder.png
target/classes/static/images/twitter_corner_black.png
target/classes/static/images/twitter_corner_blue.png
target/classes/static/vendors/animate.css/
target/classes/static/vendors/bootstrap/.babelrc.js
target/classes/static/vendors/bootstrap/.bower.json
target/classes/static/vendors/bootstrap/.browserslistrc
target/classes/static/vendors/bootstrap/.editorconfig
target/classes/static/vendors/bootstrap/.eslintignore
target/classes/static/vendors/bootstrap/.eslintrc.json
target/classes/static/vendors/bootstrap/.gitattributes
target/classes/static/vendors/bootstrap/.github/
target/classes/static/vendors/bootstrap/.stylelintignore
target/classes/static/vendors/bootstrap/.stylelintrc
target/classes/static/vendors/bootstrap/.travis.yml
target/classes/static/vendors/bootstrap/CNAME
target/classes/static/vendors/bootstrap/CODE_OF_CONDUCT.md
target/classes/static/vendors/bootstrap/Gemfile
target/classes/static/vendors/bootstrap/Gemfile.lock
target/classes/static/vendors/bootstrap/LICENSE
target/classes/static/vendors/bootstrap/_config.yml
target/classes/static/vendors/bootstrap/build/
target/classes/static/vendors/bootstrap/composer.json
target/classes/static/vendors/bootstrap/dist/
target/classes/static/vendors/bootstrap/js/
target/classes/static/vendors/bootstrap/nuget/
target/classes/static/vendors/bootstrap/package-lock.json
target/classes/static/vendors/bootstrap/package.js
target/classes/static/vendors/bootstrap/package.json
target/classes/static/vendors/bootstrap/sache.json
target/classes/static/vendors/bootstrap/scss/
target/classes/static/vendors/bootstrap/site/
target/classes/static/vendors/chart.js/
target/classes/static/vendors/chosen/
target/classes/static/vendors/datatables.net-bs4/
target/classes/static/vendors/datatables.net-buttons-bs4/
target/classes/static/vendors/datatables.net-buttons/
target/classes/static/vendors/datatables.net/
target/classes/static/vendors/flag-icon-css/
target/classes/static/vendors/flot/.bower.json
target/classes/static/vendors/flot/.travis.yml
target/classes/static/vendors/flot/API.md
target/classes/static/vendors/flot/CONTRIBUTING.md
target/classes/static/vendors/flot/FAQ.md
target/classes/static/vendors/flot/LICENSE.txt
target/classes/static/vendors/flot/Makefile
target/classes/static/vendors/flot/NEWS.md
target/classes/static/vendors/flot/PLUGINS.md
target/classes/static/vendors/flot/component.json
target/classes/static/vendors/flot/examples/
target/classes/static/vendors/flot/excanvas.js
target/classes/static/vendors/flot/excanvas.min.js
target/classes/static/vendors/flot/flot.jquery.json
target/classes/static/vendors/flot/jquery.colorhelpers.js
target/classes/static/vendors/flot/jquery.flot.canvas.js
target/classes/static/vendors/flot/jquery.flot.categories.js
target/classes/static/vendors/flot/jquery.flot.crosshair.js
target/classes/static/vendors/flot/jquery.flot.errorbars.js
target/classes/static/vendors/flot/jquery.flot.fillbetween.js
target/classes/static/vendors/flot/jquery.flot.image.js
target/classes/static/vendors/flot/jquery.flot.js
target/classes/static/vendors/flot/jquery.flot.navigate.js
target/classes/static/vendors/flot/jquery.flot.pie.js
target/classes/static/vendors/flot/jquery.flot.resize.js
target/classes/static/vendors/flot/jquery.flot.selection.js
target/classes/static/vendors/flot/jquery.flot.stack.js
target/classes/static/vendors/flot/jquery.flot.symbol.js
target/classes/static/vendors/flot/jquery.flot.threshold.js
target/classes/static/vendors/flot/jquery.flot.time.js
target/classes/static/vendors/flot/jquery.js
target/classes/static/vendors/flot/package.json
target/classes/static/vendors/font-awesome/.bower.json
target/classes/static/vendors/font-awesome/.npmignore
target/classes/static/vendors/font-awesome/HELP-US-OUT.txt
target/classes/static/vendors/font-awesome/bower.json
target/classes/static/vendors/font-awesome/css/
target/classes/static/vendors/font-awesome/fonts/
target/classes/static/vendors/font-awesome/less/
target/classes/static/vendors/font-awesome/scss/
target/classes/static/vendors/gaugejs/.bower.json
target/classes/static/vendors/gaugejs/assets/
target/classes/static/vendors/gaugejs/bower.json
target/classes/static/vendors/gaugejs/dist/
target/classes/static/vendors/gaugejs/favicon.ico
target/classes/static/vendors/gaugejs/index.html
target/classes/static/vendors/gaugejs/package.json
target/classes/static/vendors/gmaps/.bower.json
target/classes/static/vendors/gmaps/CONTRIBUTING.md
target/classes/static/vendors/gmaps/Gruntfile.js
target/classes/static/vendors/gmaps/bower.json
target/classes/static/vendors/gmaps/docs/
target/classes/static/vendors/gmaps/examples/
target/classes/static/vendors/gmaps/gmaps.js
target/classes/static/vendors/gmaps/gmaps.min.js
target/classes/static/vendors/gmaps/gmaps.min.js.map
target/classes/static/vendors/gmaps/jsdoc.json
target/classes/static/vendors/gmaps/lib/
target/classes/static/vendors/gmaps/package.json
target/classes/static/vendors/gmaps/test/
target/classes/static/vendors/gmaps/umd.hbs
target/classes/static/vendors/jquery-validation-unobtrusive/.appveyor.yml
target/classes/static/vendors/jquery-validation-unobtrusive/.bower.json
target/classes/static/vendors/jquery-validation-unobtrusive/.gitattributes
target/classes/static/vendors/jquery-validation-unobtrusive/.vsts-pipelines/
target/classes/static/vendors/jquery-validation-unobtrusive/CONTRIBUTING.md
target/classes/static/vendors/jquery-validation-unobtrusive/LICENSE.txt
target/classes/static/vendors/jquery-validation-unobtrusive/Microsoft.jQuery.Unobtrusive.Validation.nuspec
target/classes/static/vendors/jquery-validation-unobtrusive/build.cmd
target/classes/static/vendors/jquery-validation-unobtrusive/build.msbuild
target/classes/static/vendors/jquery-validation-unobtrusive/gulpfile.js
target/classes/static/vendors/jquery-validation-unobtrusive/package-lock.json
target/classes/static/vendors/jquery-validation-unobtrusive/package.json
target/classes/static/vendors/jquery-validation-unobtrusive/run.ps1
target/classes/static/vendors/jquery-validation-unobtrusive/src/
target/classes/static/vendors/jquery-validation-unobtrusive/test/
target/classes/static/vend
ors/jquery-validation-unobtrusive/version.props
target/classes/static/vendors/jquery-validation/
target/classes/static/vendors/jquery/
target/classes/static/vendors/jqvmap/
target/classes/static/vendors/jszip/
target/classes/static/vendors/pdfmake/
target/classes/static/vendors/peity/.bower.json
target/classes/static/vendors/peity/.travis.yml
target/classes/static/vendors/peity/CHANGELOG.md
target/classes/static/vendors/peity/Gemfile
target/classes/static/vendors/peity/Gemfile.lock
target/classes/static/vendors/peity/LICENCE
target/classes/static/vendors/peity/Makefile
target/classes/static/vendors/peity/bin/
target/classes/static/vendors/peity/bower.json
target/classes/static/vendors/peity/composer.json
target/classes/static/vendors/peity/docs/
target/classes/static/vendors/peity/index.html
target/classes/static/vendors/peity/jquery.peity.js
target/classes/static/vendors/peity/jquery.peity.min.js
target/classes/static/vendors/peity/package.json
target/classes/static/vendors/peity/test/
target/classes/static/vendors/peity/yarn.lock
target/classes/static/vendors/popper.js/
target/classes/static/vendors/selectFX/
target/classes/static/vendors/themify-icons/
target/classes/templates/
!/.idea/
